---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { dateRange } from "@lib/utils";
import { WORK } from "@consts";

const collectionWork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf());


const collectionEducation = (await getCollection("education"))
.sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf());

const work = await Promise.all(
collectionWork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

const education = await Promise.all(
collectionEducation.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="font-semibold text-black dark:text-white">
        Work
      </div>
      <ul class="flex flex-col space-y-4">
        { 
          work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))
        }
      </ul>
      <div class="font-semibold text-black dark:text-white">
        Education
      </div>
      <ul class="flex flex-col space-y-4">
        {
          education.map(entry => (
          <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.school}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.degree}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))
        }
      </ul>

      <!-- <ul class="animate flex flex-col gap-4"></ul> -->
    </div>
  </Container>
</PageLayout>
